* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: monospace;
}
.form-control:focus {
  box-shadow: none;
  border: none;
}
.box {
  width: fit-content;
  margin-left: auto;
  padding: 20px;
  background: linear-gradient(45deg, #ade8ff, #f7b1ff);
  border-radius: 10px;
  box-shadow: 0 3px 2.2px rgba(0, 0, 0, 0.019), 0 8.5px 5.3px rgba(0, 0, 0, 0.026), 0 18.1px 10px rgba(0, 0, 0, 0.03), 0 35px 17.9px rgba(0, 0, 0, 0.035), 0 64.4px 33.4px rgba(0, 0, 0, 0.04), 0 100px 80px rgba(0, 0, 0, 0.05);
}
.box #copy_right {
  margin-top: 20px;
}
.box #copy_right > a {
  margin: 0 5px;
  color: #444444;
  transition: .3s;
  padding: 0 8px;
  position: relative;
  z-index: 1;
}
.box #copy_right > a::before {
  position: absolute;
  content: '';
  right: 0;
  width: 0%;
  height: 100%;
  background: white;
  transition: .3s;
  z-index: -1;
}
.box #copy_right > a:hover::before {
  left: 0;
  width: 100%;
}
.box #copy_right > a:hover {
  color: #7a00ff;
}
.box .box_get-data label {
  font-size: 15px;
  color: #464646;
}
.box .box_get-data .form-control {
  width: 100px;
  margin: 10px;
  border: none;
  height: 30px;
  box-shadow: rgb(39 39 39 / 5%) 0px 2.8px 2.2px, rgb(72 69 69 / 8%) 0px 6.7px 5.3px, rgb(80 80 80 / 8%) 0px 12.5px 10px, rgb(95 95 95 / 3%) 0px 22.3px 17.9px, rgb(0 0 0 / 13%) 0px 41.8px 33.4px, rgb(0 0 0 / 2%) 0px 100px 80px;
}
.box .box_get-data #check, .box .box_get-data .choose, .box .box_get-data #reset {
  width: 70px;
  margin-bottom: 10px;
}
body > section {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  padding: 50px;
}
body > section > span {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #0000004a;
  z-index: 1;
}
body > section > div {
  z-index: 2;
  background: #fcfcfe;
  padding: 20px;
}
body>section>div>span > .multi-spinner-container {
  width: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
body>section>div>span > .multi-spinner-container .multi-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: calc(100% - 3px);
  height: calc(100% - 3px);
  border: 2px solid transparent;
  border-top-color: #111111;
  border-radius: 50%;
  -webkit-animation: spin 2.5s cubic-bezier(0.17, 0.49, 0.96, 0.76) infinite;
  animation: spin 2.5s cubic-bezier(0.17, 0.49, 0.96, 0.76) infinite;
}
body > section > div > table {
  border-left: 1px solid #dedede;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}
body > section > div > .table > thead > tr > th, body > section > div > .table > tbody > tr > th, body > section > div > .table > tbody > tr > td {
  border-right: 1px solid #dedede;
}
body>div.be-wrapper.be-fixed-sidebar>div.be-content>div>div>div.box_get-data>form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@-webkit-keyframes spin {
  from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}
      
      
@keyframes spin {
  from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}
